@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
html, body {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

ul, ol, dl, dt, dd {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

form {
  margin: 0; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  text-decoration: none; }

fieldset {
  padding: 0;
  margin: 0;
  border: none; }

button, input, select, textarea {
  font-size: 1rem; }

html {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  line-height: 1.7;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif; }

@media print {
  a[href^="http"]:after,
  a[href^="mailto"]:after,
  a[href^="tel"]:after {
    content: " [" attr(href) "]";
    overflow-wrap: break-word; } }

.content p,
.p {
  margin: 20px 0; }
  .content p:first-child,
  .p:first-child {
    margin-top: 0; }
  .content p:last-child,
  .p:last-child {
    margin-bottom: 0; }

.content code,
.code {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1.5;
  background: #eeeeee;
  color: #444444;
  padding: 0 7px;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre;
  tab-size: 4;
  -moz-tab-size: 4;
  max-width: 100%;
  overflow: auto; }

.content kbd,
.kbd {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-family: monospace; }

.button {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  padding: 5px 10px;
  background: #eeeeee;
  color: #333333;
  border-radius: 5px;
  transition: 0.3s background-color ease-in-out; }
  .button:hover, .button:focus {
    background: #cccccc; }

.activate-button::after {
  content: attr(data-activate-count);
  display: inline-block;
  margin-left: 5px; }

html {
  font-family: Arial, sans-serif; }

.layout {
  max-width: 800px;
  margin: 60px auto; }

body.dark {
  background: #444444; }
